<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/crear-acta"></ion-back-button>
    </ion-buttons>
    <ion-title>crear-acta-detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

<ion-list *ngIf="acta != null">

  <ion-item >
    <ion-label position="stacked">Datos estudiante: </ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Nombre Completo </ion-label>
    <ion-label>{{acta.datosEstudiante.NOMBRE}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Numero de Identificación </ion-label>
    <ion-label>{{acta.datosEstudiante.IDESTUDIANTE}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Edad </ion-label>
    <ion-label>{{acta.datosEstudiante.EDAD}} años</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Curso </ion-label>
    <ion-label>{{acta.datosEstudiante.IDCURSO}} </ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Descargos estudiante: </ion-label>
    <ion-label>{{acta.descargosEstudiante}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Compromiso estudiante: </ion-label>
    <ion-label>{{acta.compromisoEstudiante}}</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">La presente acta dias : </ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Firma estudiante: </ion-label>
    <ion-label>Firmita</ion-label>
  </ion-item>

  <ion-item >
    <ion-label position="stacked">Firma Docente: </ion-label>
    <ion-label>Firmita</ion-label>
  </ion-item>
</ion-list>

</ion-content>
