<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="ios" (click)="dismiss()">Cancel</ion-button>
      <ion-button *ngIf="!ios" (click)="selectAll(false)">Reiniciar</ion-button>
    </ion-buttons>

    <ion-title>
      Filtrar por Tipo de Acta
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="applyFilters()" strong>Aceptar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [lines]="ios ? 'inset' : 'full'">
    <ion-list-header>Filtros</ion-list-header>

    <ion-item *ngFor="let tag of tagsActas" [attr.tag]="tag.nombre | lowercase">
      <ion-icon  slot="start" [name]="tag.icono" color="medium"></ion-icon>
      <ion-label>{{tag.nombre}}</ion-label>
      <ion-checkbox [(ngModel)]="tag.estaSeleccionada"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer translucent="true" *ngIf="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Deselect All</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectAll(true)">Select All</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
