.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 100px;
}

.list {
  margin-bottom: 0;
}

.button1 {
  color: white;
  background: url(/assets/img/iconos/ACCEDERR.png);
  text-transform: uppercase;
  background-size: 100% 100%;
  border: none;
  padding: 15px 30px;
  
}

.input{
  background: url(/assets/img/iconoslogin/Input1.svg);
  text-transform: uppercase;
  background-size: 100% 100%;
  border: none;
  padding: 15px 30px;
}
    
