.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.fondotabs {
  --background: center / cover url(/assets/img/Tabs/FondoTabs.png);  
  --ion-background-color: rgba(0, 0, 0, 0);
  --ion-text-color: #dbdbdb; 
}
.buscar{
  background: url(/assets/img/Tabs/Buscar.png);
  background-size: 100% 100%;
  padding: 5px 5px;
}